[Unit]
Description=Singender Aufzug Interface
After=systemd-user-sessions.service getty@tty1.service
Conflicts=getty@tty1.service

[Service]
User=pi
WorkingDirectory=/home/pi/singender-aufzug
ExecStart=/home/pi/singender-aufzug/.venv/bin/python /home/pi/singender-aufzug/interface/interface.py
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
